{% extends "base.html.twig" %}
{% block title %}
    {{ parent() }}
    Add Profile
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/css/bootstrap-datepicker.css' rel='stylesheet' type='text/css'>
     <link href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/css/bootstrap-datepicker.standalone.css' rel='stylesheet' type='text/css'>

{% endblock %}
{% block body %}
    <h2>Add Profile</h2>
    <div id="parent" class="col-xs-12">
        <form enctype="multipart/form-data" id="addProfile">
            <div class="form-group col-xs-8">
                <label for="firstName">First Name</label>
                <input type="text" class="form-control" id="first_name" placeholder="Enter First Name">
            </div>
            <div class="form-group col-xs-8">
                <label for="lastName">Last Name</label>
                <input type="text" class="form-control" id="last_name" placeholder="Enter Last Name">
            </div>
            <div class="form-group col-xs-8">
                <label for="street">Street</label>
                <input type="text" class="form-control" id="street" placeholder="Enter street">
            </div>
            <div class="form-group col-xs-8">
                <label for="zip">Zip Code</label>
                <input type="text" class="form-control" id="zip" placeholder="Enter zip code">
            </div>
            <div class="form-group col-xs-8">
                <label for="zip">City</label>
                <input type="text" class="form-control" id="city" placeholder="Enter city name">
            </div>
            <div class="form-group col-xs-8">
                <label for="country">Country</label>
                <input type="text" class="form-control" id="country" placeholder="Enter country">
            </div>
            <div class="form-group col-xs-8">
                <label for="PhoneNumber">Phone Number</label>
                <input type="text" class="form-control" id="phone_number" placeholder="Enter phone number">
            </div>
            <div class="form-group col-xs-8">
                <label for="birthday">Birthday</label>
                <input type="text" class="form-control" id="birthday">
            </div>
            <div class="form-group col-xs-8">
                <label for="email">Email address</label>
                <input type="email" class="form-control" id="email" placeholder="Enter email">
            </div>
            <div class="col-xs-8  form-end">
                <label for="picture">Profile Picture</label>
                <input type="file" id="profile_picture">
            </div>
            <div class="form-group col-xs-8">
                <button type="button" class="btn btn-success" onclick="addProfile()">Add Profile</button>
            </div>
        </form>
    </div>
    {% block content %}{% endblock %}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {% endblock %}
