{% extends "base.html.twig" %}
{% block title %}
    {{ parent() }}
    Edit Profile
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/css/bootstrap-datepicker.css' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/highlighter/css/searchText.css') }}"  />
    <link href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/css/bootstrap-datepicker.standalone.css' rel='stylesheet' type='text/css'>

{% endblock %}
{% block body %}
    <h2>Edit Profile</h2>
    <div class="col-xs-12">
        <form enctype="multipart/form-data" id="addProfile">
            <div class="form-group col-xs-8">
                <label for="id">ID</label>
                <input type="text" class="form-control" id="id" value="{{ profile.id }}">
            </div>
            <div class="form-group col-xs-8">
                <label for="firstName">First Name</label>
                <input type="text" class="form-control" id="first_name" value="{{ profile.firstName }}">
            </div>
            <div class="form-group col-xs-8">
                <label for="lastName">Last Name</label>
                <input type="text" class="form-control" id="last_name" value="{{ profile.lastName }}">
            </div>
            <div class="form-group col-xs-8">
                <label for="street">Street</label>
                <input type="text" class="form-control" id="street" value="{{ profile.street }}">
            </div>
            <div class="form-group col-xs-8">
                <label for="zip">Zip Code</label>
                <input type="text" class="form-control" id="zip" value="{{ profile.zip }}">
            </div>
            <div class="form-group col-xs-8">
                <label for="zip">City</label>
                <input type="text" class="form-control" id="city" value="{{ profile.city }}">
            </div>
            <div class="form-group col-xs-8">
                <label for="country">Country</label>
                <input type="text" class="form-control" id="country" value="{{ profile.country }}">
            </div>
            <div class="form-group col-xs-8">
                <label for="PhoneNumber">Phone Number</label>
                <input type="text" class="form-control" id="phone_number" value="{{ profile.phoneNunber }}">
            </div>
            <div class="form-group col-xs-8">
                <label for="birthday">Birthday</label>
                <input type="text" class="form-control" id="birthday" value="{{ profile.birthday|date("Y-m-d")  }}">
            </div>
            <div class="form-group col-xs-8">
                <label for="email">Email address</label>
                <input type="email" class="form-control" id="email" value="{{ profile.emailAddress }}">
            </div>
            <div class="col-xs-8 form-end">
                <label for="picture">Profile Picture</label>
                <input type="file" id="profile_picture">
            </div>
            <div class="form-group col-xs-8">
                <button type="button" class="btn btn-success" onclick="editProfile();">Edit Profile</button>
            </div>
        </form>
    </div>
    {% block content %}{% endblock %}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {% endblock %}
