{% extends "base.html.twig" %}
{% block title %}
    {{ parent() }}
    Profiles
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/css/bootstrap-datepicker.css' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/highlighter/css/searchText.css') }}"  />
    <link href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/css/bootstrap-datepicker.standalone.css' rel='stylesheet' type='text/css'>

{% endblock %}
{% block body %}
    <h2>Profile Listening</h2>
<div class="col-xs-12">
    <div class="count text-center">
        <strong>Total Profiles => {{ profiles.getTotalItemCount }}</strong>
    </div>
    {% for profile in profiles %}
    <div class="col-xs-12" style="border-bottom : thick solid #0000FF;margin-bottom:10px">
        <div class="form-group col-xs-8">
            <label for="firstName">First Name</label>:&nbsp&nbsp&nbsp
            <span>{{ profile.firstName }}</span><br>
            <label for="lastName">Last Name</label>:&nbsp&nbsp&nbsp
            <span>{{ profile.lastName }}</span><br>
            <label for="street">Street</label>:&nbsp&nbsp&nbsp
            <span>{{ profile.street }}</span><br>
            <label for="zip">Zip Code</label>:&nbsp&nbsp&nbsp
            <span>{{ profile.zip }}</span><br>
            <label for="zip">City</label>:&nbsp&nbsp&nbsp
            <span>{{ profile.city }}</span><br>
            <label for="country">Country</label>:&nbsp&nbsp&nbsp
            <span>{{ profile.country }}</span><br>
            <label for="PhoneNumber">Phone Number</label>:&nbsp&nbsp&nbsp
            <span>{{ profile.phoneNunber }}</span><br>
            <label for="birthday">Birthday</label>:&nbsp&nbsp&nbsp
            <span>{{ profile.birthday|date('Y-m-d') }}</span><br>
            <label for="email">Email address</label>:&nbsp&nbsp&nbsp
            <span>{{ profile.emailAddress }}</span><br>
        </div>
        <div class="col-xs-4">
            <img src="{{ asset("images/" ~ profile.pictureUrl)}}" height="200" width="250">
        </div>
    </div>
    {% endfor %}
        <div class="navigation text-center">
            {{ knp_pagination_render(profiles) }}
        </div>
</div>

    {% block content %}{% endblock %}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {% endblock %}
