{% extends "base.html.twig" %}
{% block title %}
    {{ parent() }}
    Manage Profiles
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/highlighter/css/searchText.css') }}"  />
{% endblock %}
{% block body %}
    <h2>Manage Profiles</h2>
    <div class="col-xs-12">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Email</th>
                <th scope="col">Country</th>
                <th scope="col">Remove</th>
                <th scope="col">Edit</th>
            </tr>
            </thead>
            <tbody>
            {% for profile in profiles %}
                <tr id="{{ profile.id  }}">
                    <td>
                        <input type="text" class="form-control" id="first_name-{{ profile.id }}" value="{{ profile.firstName }}">
                    </td>
                    <td>
                        <input type="text" class="form-control" id="last_name-{{ profile.id }}" value="{{ profile.lastName }}">
                    </td>
                    <td>
                        <input type="text" class="form-control" id="email-{{ profile.id }}" value="{{ profile.emailAddress }}">
                    </td>
                    <td>
                        <input type="text" class="form-control" id="country-{{ profile.id }}" value="{{ profile.country }}">
                    </td>
                    <td>
                        <button type="button" class="btn btn-danger glyphicon glyphicon-trash" onclick="removeProfile({{ profile.id }})">Remove</button>
                    </td>
                    <td>
                        <button type="button" class="btn btn-link glyphicon glyphicon-pencil"><a href="/edit-profile?id={{ profile.id }}" target="_blank">Edit</a></button>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    {% block content %}{% endblock %}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/currencyconverter/js/conversion.js') }}"></script>
{% endblock %}
